*{
    padding: 0.3px;

}

.display-3{
    background-color: rgb(163, 198, 230);
    text-align: center;
    font-weight: bolder;  
    color:white;
    border-radius: 10px;
    font-size:50px;
    
 }

.list-group{
    color:black;
}

.card{
    background-color: rgb(17, 17, 56);
    color: white;
    border-radius: 10px;
}

#searchHistory{
    list-style:none;
    color:white;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;


}

#searchHistory li{
    border-style:ridge;
    border-radius: 5px;
    border-color:white;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.low{
    background-color: rgb(106, 204, 106) ;
    color:black;
    border-style:ridge;
    border-radius: 2.5px;
    border-color:white;
    width:fit-content;
    font-weight: bold;
    padding: 2.5px;
}

.moderate{
    background-color: rgb(231, 231, 59) ;
    color:black;
    border-style:ridge;
    border-radius: 2.5px;
    border-color:white;
    width:fit-content;
    font-weight: bold;
    padding: 2.5px;
}


.high{
    background-color: rgb(231, 127, 42);
    color:black;
    border-style:ridge;
    border-radius: 2.5px;
    border-color:white;
    width:fit-content;
    font-weight: bold;
    padding: 2.5px;
}

.veryHigh{
    background-color: rgb(192, 50, 50);
    color:black;
    border-style:ridge;
    border-radius: 2.5px;
    border-color:white;
    width:fit-content;
    font-weight: bold;
    padding: 2.5px;
}

